/* Created by: Janet Do
* Created on: Sep 2020
* This file contains the CSS for index.html
*/
* 
  body,
    h1 {
      font-family: "Raleway", sans-serif;
    }
  
    body,
    html {
      height: 100%;
    }
  
    .bgimg {
      background-image: url('/w3images/forestbridge.jpg');
      min-height: 100%;
      background-position: center;
      background-size: cover;
    }
  
    .w3-display-container {
      position: relative;
    }
  
    .w3-display-topleft {
      position: absolute;
      top: 0;
      left: 0;
    }
  
    .w3-display-middle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  
    .w3-display-bottomleft {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  
    .w3-padding-large {
      padding: 24px;
    }
  
    .w3-text-white {
      color: #fff;
    }
  
    .w3-animate-opacity {
      animation: opac 0.8s;
    }
  
    .w3-animate-top {
      position: relative;
      animation: animatetop 0.8s;
    }
  
    .w3-jumbo {
      font-size: 48px;
    }
  
    .w3-border-grey {
      border-color: #ccc;
    }